do_token=""
pub_key="~/.ssh/id_rsa.pub"
pvt_key="~/.ssh/id_rsa"
ssh_fingerprint="(copy and paste: digitalocean settings > Security > SSH Keys)"
vpn_masterip="192.168.30.2"
vpn_username="user"
vpn_password="something"
